<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Update Restaurant Info</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="navbar-brand">Update Restaurant Info</div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/logout">Log out</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <%if (error) {%>
      <div class="alert alert-danger" role="alert">
        <%=error%>
      </div>
      <%}%>
      <form action="/api/update/restaurant" method="post">
        <input type="hidden" class="form-control" name="_id" value="<%=info._id%>">
        <input type="hidden" class="form-control" name="owner" value="<%=info.owner%>">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name" value="<%=info.name%>">
        </div>
        <div class="form-group">
          <label for="borough">Borough</label>
          <input type="text" class="form-control" name="borough" value="<%=info.borough%>">
        </div>
        <div class="form-group">
          <label for="cuisine">Cuisine</label>
          <input type="text" class="form-control" name="cuisine" value="<%=info.cuisine%>">
        </div>
        <div class="form-group">
          <label for="street">Street</label>
          <input type="text" class="form-control" name="street" value="<%=info.street%>">
        </div>
        <div class="form-group">
          <label for="building">Building</label>
          <input type="text" class="form-control" name="building" value="<%=info.building%>">
        </div>
        <div class="form-group">
          <label for="zipcode">Zip code</label>
          <input type="text" class="form-control" name="zipcode" value="<%=info.zipcode%>">
        </div>
        <div class="form-group">
          <label for="coord_lon">Coord(lon)</label>
          <input type="text" class="form-control" name="coord_lon" value="<%=info.coord_lon%>">
        </div>
        <div class="form-group">
          <label for="coord_lat">Coord(lon)</label>
          <input type="text" class="form-control" name="coord_lat" value="<%=info.coord_lat%>">
        </div>
        <div class="form-group">
          <label for="photo">Photo</label>
          <input type="file" class="form-control" name="photo">
        </div>
        <div class="form-group">
          <label for="rate">Rate</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a type="submit" class="btn" href="/api/restaurant/<%=info._id%>">Go Back</a>
      </form>
    </div>
  </body>
</html>